@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,700;1,800&display=swap");

:root {
  font-family: "Be Vietnam", sans-serif;
  --primaryDarkerColor: #f0a749;
  --primaryLightColor: #efa74a;
  --lightColor: #fff2e1;
  --appStoreColor: #d0d0d0;
  --footerColor: #2a2927;
  --whiteColor: #fff;
  --secondaryColor: #000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  font-family: "Be Vietnam", sans-serif;
}

.header {
  margin: 0px;
  padding: 0px;
}
header,
.nav-container {
  padding: 0px;
  margin: 0px;
}

.hero-container,
.categories-container,
.quipment-container,
.blog-container,
.app-download-container,
footer {
  position: relative;
}

.categories-container h1,
.blog-container h1 {
  text-align: center;
  font-weight: 800;
}

.category-link {
  background-color: var(--secondaryColor);
  padding: 0.7em 1.8em;
  color: var(--whiteColor);
  font-family: "Be Vietname", sans-serif !important;
  display: block;
  width: 100%;
  max-width: 250px;
  text-align: center;
  margin: auto;
  border-radius: 30px;
}
.category-link:hover {
  color: var(--primaryLightColor);
  border: 1px solid var(--primaryLightColor);
  background: var(--whiteColor);
}
/* End of General Links */

/* .hero-container {
  background: url("../images/HeaderImage.png"), rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 70vh;
} */

.hero-container {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
.carousel-container {
  position: relative;
}
.hero-title {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  margin: auto;
  width: 100%;
  z-index: 2;
  color: var(--whiteColor);
  margin-bottom: 5%;
  text-align: center;
}
.hero-title h1 {
  font-weight: 800;
  margin-bottom: 1.5%;
  color: var(--whiteColor);
  font-size: 3rem;
}
.hero-title h6 {
  font-weight: 300;
  font-size: 1.1rem;
}

.input-container {
  position: absolute !important;
  top: 50%;
  z-index: 2;
  left: 0%;
  right: 0%;
  margin: auto;
  align-content: center;
  width: 100%;
  max-width: 50rem !important;
  background: white;
  border-radius: 50px;
}
.input-container img {
  position: absolute;
  width: 1.1rem;
  left: 2%;
  top: 35%;
  bottom: 0%;
}
.input-container input {
  padding: 1rem;
  padding-left: 3rem;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}
.input-container button {
  position: absolute;
  color: var(--whiteColor);
  background: var(--primaryLightColor);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  padding-left: 0.8rem;
}

/* Container */
.categories-container {
  height: 40vh;
  padding: 2% 0%;
}
.categories {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 4%;
}
.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;
  border: 1.5px solid var(--primaryDarkerColor);
  border-radius: 5px;
  box-shadow: 1px 3px 4px lightgrey;
  padding: 0.5rem 1.5rem;
  width: 22%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.category p {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.rent-container {
  padding: 4rem 5rem;
  padding-top: 2rem !important;
  text-align: center;
}

.rent {
  background-color: var(--lightColor);
  width: 26%;
  padding: 2rem 5rem;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}
.rent img {
  width: 60px;
  margin: auto;
  margin-bottom: 1.5rem;
}
.rent h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.stubborn img {
  margin-top: 0px;
  width: 80px;
}

.equipment-container {
  background: url("../images/BackgroundYellow.jpg"), rgba(240, 167, 73, 0);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  padding: 8rem 10rem;
}

.app-download-container {
  /* background: url("../images/AppImage.png"), rgba(0, 0, 0, 0.3); */
  background: var(--primaryLightColor);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 70vh;
}

.app-download-container img {
  width: 5rem;
}
.image-download {
  width: 10rem;
}
.top-container {
}
.categories-container {
}

.categories {
}

.rent-container {
}
.blog-container {
}
.equipment-container {
}

.image-container {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--whiteColor);
  z-index: 1;
}
.image-controller img {
  width: 50%;
}
.app-download-container {
}
/* # MAX-CONTROLS */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 375px) {
}
