.hero-container {
  background: url("../images/HeaderImage.png"), rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 70vh;
}

.equipement-search-container {
  background: url("../images/BackgroundYellow.jpg"), rgba(0, 0, 0, 0);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}

/* Navigation */
.nav-container {
  background: transparent !important;
}

/* Header Title */
.hero-title {
  padding-top: 10%;
}
.hero-title h1 {
  font-size: 3rem;
  font-weight: 700;
}
.hero-title h6 {
  font-weight: 100;
  padding-bottom: 3%;
}
.hero-title .input-container {
  background: #fff;
  margin: auto;
  max-width: 60%;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.hero-title input {
  width: 100%;
  padding: 1rem;
  padding-left: 3rem;
  border: none;
  background: transparent !important;
}
.hero-title img {
  width: 1.5rem;
  position: absolute;
  top: 30%;
  left: 2%;
}
.hero-title button {
  position: absolute;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f0a74a;
  color: #fff;
  width: 6rem;
  top: 0%;
  border: none;
  padding: 1rem;
  right: 0%;
}

/* card categories */
.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  /* border: none; */
}
.category-card {
  border: none;
  border: 2px solid #f0a74a;
  box-shadow: 2px 0px 4px #f0a74a;
}
.categories .category-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 1.5rem;
  overflow: hidden;
  align-items: center;
}
.category-card p {
  display: block;
}
.categories .category-card img {
  width: 50px;
}

.button-category {
  color: #fff;
  background-color: black;
  padding: 0.8rem 2rem;
  border-radius: 50px;
}

.how-it-works-container {
  display: flex;
  justify-content: space-around;
}

.card-works {
  padding: 2rem;
  background-color: #f9f3ea;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card-works img {
  display: block;
  margin: auto;
}

.card-works p {
  color: grey;
}

.equipement-search-container {
  display: flex;
  justify-content: space-around;
}

.equipement-search-container .product-types {
  border: 1px solid black;
  overflow: hidden;
}

.product-types {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.thumbnails {
  background: #2a29a7;
}

.thumbnails img {
  width: 10px;
  height: 10px;
}
