@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,700;1,800&display=swap");

:root {
  font-family: "Be Vietnam", sans-serif;
  --primaryDarkerColor: #f0a749;
  --primaryLightColor: #efa74a;
  --lightColor: #fff2e1;
  --appStoreColor: #d0d0d0;
  --footerColor: #2a2927;
  --whiteColor: #fff;
  --secondaryColor: #000;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam", sans-serif;
  text-align: center;
}

a {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

img {
  /* width: 50%; */
}

/* Specificity */
.header-container {
}

.navbar-brand img {
  width: 55%;
}

.header-container nav {
}
.nav-container {
}

.carousel-container {
  position: relative;
}

.card-rent {
  display: flex;
}
.carousel-container .hero-title {
  z-index: 2;
  position: absolute;
  top: 10rem;
  left: 0%;
  right: 0%;
  text-align: center;
  color: var(--whiteColor);
}
.carousel-container .relate {
  z-index: 3;
  position: absolute;
  top: 17rem;
  right: 0%;
  left: 0%;
}
.carousel-container .input-container {
  background-color: var(--whiteColor);
  /* min-width: 400px;
  max-width: 500px; */
  margin: auto;
  width: 40%;
  position: relative;
  border-radius: 2rem;
}
.input-container input {
  width: 100%;
  padding: 0.7rem 2.5rem;
  border: none;
  outline: none;
  background-color: transparent !important;
}
.input-container img {
  position: absolute;
  top: 0.9rem;
  left: 2%;
}
.input-container button {
  position: absolute;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.7rem;
  border: none;
  top: 0%;
  right: 0%;
  background-color: var(--primaryLightColor);
  color: var(--whiteColor);
}

.blog-container {
}

.blog-container .product-1,
.blog-container .product-2,
.blog-container .product-3 {
  width: 100%;
}

/* fontsize= rem */
/* width= em or % */
/* padding and margin= rem */
.category-btn {
  background-color: black;
  color: var(--whiteColor);
  border-radius: 50px;
  max-width: 200px;
  margin: auto;
  padding: 0.5rem;
}

.category-link {
  background-color: black;
  color: var(--whiteColor);
  border-radius: 40px;
  margin: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.category-link:hover {
  border: 1px solid var(--primaryDarkerColor);
  background-color: white;
  color: var(--primaryDarkerColor);
}
.category-btn:hover {
  border: 1px solid var(--primaryDarkerColor);
  background-color: white;
  color: var(--primaryDarkerColor);
}

.category-container .card {
  margin-right: 0 0px;
}

.card-rent {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding: 1em 1em;
  gap: 1rem;
}
.card-rent img {
  width: 2rem;
}

.card-rent h5 {
  font-size: 0.9rem;
  font-weight: bold;
}

.interim {
  width: 7rem;
}
/* 
 */
.equipment-container {
  background: url("../images/BackgroundYellow.jpg"), rgba(240, 167, 73, 0);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 8rem 10rem;
  text-align: left !important;
}

/* App Download Container */
.app-download-container {
  background-color: var(--appStoreColor);
}
.app-download {
  padding: 6em 0;
  text-align: left;
}

.row-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

/* 
 Blog Container

*/
.blog-container img {
  height: 30vh;
}

.product-1 {
  position: relative;
  overflow: hidden;
}
.image-overlay {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.text-area {
  position: absolute;
  color: var(--whiteColor);
  text-align: left !important;
  bottom: 3%;
  left: 5%;
  z-index: 3;
}
.text-area p {
  color: var(--primaryDarkerColor);
}

@media screen and (max-width: 970px) {
  .app-download-container {
    text-align: center;
  }
  .app-image {
    display: none;
  }
  .app-download {
    text-align: center;
    width: 100%;
    padding: 3em 0;
  }

  .row-links {
    display: flex;
    justify-content: center;
  }
  .header-container {
  }
}
