:root {
  --primaryColor: ##f0a74a;
  --generalColor: #fff;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.dividers {
}

@media screen and (max-width: 767px) {
  .hero-container {
    height: 60vh;
    background-size: cover;
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10%;
  }
  s .nav-container {
    position: fixed;
    z-index: 1;
    background-color: transparent !important;
  }
  .nav-container .navbar-brand img {
    width: 4.5rem;
  }

  .hero-title {
    position: absolute;
    top: 30%;
    text-align: center;
    margin: auto;
    padding: 0px 10%;
  }
  .hero-title h1,
  .hero-title h6 {
    text-align: center;
    z-index: 2;
    color: var(--generalColor);
  }
  .relate {
    position: absolute;
    bottom: 20%;
    margin: auto;
    width: 100%;
  }

  .input-container {
    margin: auto;
    display: flex;
    width: 100%;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
  }

  .input-container img {
    position: absolute;
  }
  .input-container button {
    position: absolute;
  }
  .input-container input {
    width: 100%;
    padding: 0.5rem;
  }

  .carousel-inner {
    z-index: -1;
    height: 60vh;
  }

  /* Main Container */
  .main-container {
    text-align: center;
  }
  /* Categories */
  .categories {
    display: flex;
  }
  .category-card {
    text-align: center;
  }
  .category-card img {
    width: 50%;
    margin: auto;
  }

  /* How it works Container */
  .how-it-works-container {
    display: flex;
  }
  .card-works {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card-works img {
    margin: auto;
  }

  /* Equipment Search */
  .equipement-search-container {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .equipement-search-container .product-types {
  }
  .product-types img {
    width: 60%;
  }

  .download-application {
    text-align: center;
  }
  .download-app img {
    width: 80%;
  }

  .recent-blogs {
    text-align: center;
  }

  .recent-blog-container {
    width: 100%;
  }
  .card-blogs {
    display: block;
    width: 100%;
  }
  .card-blogs img {
    width: 100%;
  }

  footer {
    display: column;
    flex-direction: column;
    background-color: black;
  }

  #top-footer {
    display: flex;
    padding: 5% 5%;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5%;
  }

  .company,
  .explore,
  .more,
  .social {
    color: white;
  }
  .company ul > li > a,
  .explore ul > li > a,
  .more ul > li > a,
  .social ul > li > a {
    list-style-type: none;
    font-size: 0.6rem;
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: 300;
  }

  .company ul > li,
  .explore ul > li,
  .more ul > li,
  .social ul > li {
    list-style-type: none;
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
  }

  .company ul,
  .explore ul,
  .more ul,
  .social ul {
    margin-left: 0px;
    padding-left: 0px;
  }

  .social {
    font-size: 0.6rem;
  }
  .social-media-links a {
    margin-right: 0.5rem;
  }
  .social-media-links img {
    width: 12%;
    margin-bottom: 10%;
  }
  .social-media-links p {
    max-width: 10px;
    white-space: wrap;
    font-weight: 300;
    margin-top: 1rem;
  }

  .divider {
    background: light-grey;
    width: 100%;
  }

  .bottom-footer {
    padding: 5% 5%;
  }
  .phone img {
    margin: auto;
    display: block;
    margin-bottom: 5%;
    width: 5%;
  }

  .phone p {
    font-weight: 300;
    font-size: 0.7rem;
  }
}
